* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: black;
}

.App {
  text-align: center;
}

.App-header {
  background-color: rgb(170, 202, 100);
  width: 100%;
  height: 75px;  
}

.NavBar-nav {
  display: flex;
  justify-content: space-between;
}

.NavBar-marca {
  font-size: 1px;
  padding: 0px;
}

@media only screen and (min-width: 715px) {
  .NavBar-marca {
    padding: 20px 50px 20px 50px;
    font-size: 25px;
    font-weight: 600;
  }
}


.NavBar-div {
  display: flex;
  margin-right: 20px;
}

.NavBar-ul {
  float: right;
}

.NavBar-li {
  display: inline-block;
  margin: 0 15px;
  line-height: 60px;
  font-size: 18px;
  text-transform: uppercase;
}

.NavBar-linkNoActive, .NavBar-dropdownItem {
  font-size: 20px;
  color: rgb(78, 106, 16);
  padding: 7px 13px;
  font-weight: 500;
  display: block;
}

.NavBar-linkActive {
  font-size: 20px;
  color: white;
  padding: 7px 13px;
  font-weight: 500;
}

@media only screen and (min-width: 462px) {
  .NavBar-linkActive, .NavBar-linkNoActive {
    font-size: 20px;
  }
}


.NavBar-dropdown {
  display: inline-block;
  position: relative;
}

.NavBar-dropdownContent {
  display: none;
  position: absolute;
  line-height: 30px;
  width: 300px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  background-color: rgb(170, 202, 100);
  padding: 10px;
}

.NavBar-dropdownItem {
  width: fit-content;
}

.NavBar-dropdownItem:hover {
  background-color:  rgb(170, 202, 100);
  color: white;
  width: 100%;
}

.NavBar-dropdown:hover .NavBar-dropdownContent {
  display: block;
}

.NavBar-carrito {
  margin: 0 10px;
  padding-top: 15px;
}

@media only screen and (min-width: 462px) {
  .NavBar-carrito {
    margin: 0 50px;
  }
}

.CartWidget-contenedor{
  position: relative;
}

.CartWidget-cantidadCarrito {
  position: absolute;
  top: 0;
  left: 75%;
  background: rgb(207, 66, 68);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
}

.CartWidget-imgCarrito {
  height: 45px;
  width: 45px;
}

.Item-card {
  margin: 45px 10px 10px 10px;
  width: 280px;
}

.ItemList-card {
  display: grid;  
  grid-template-columns: repeat(1,300px);
  justify-content: center;
}

@media only screen and (min-width: 650px) {
  .ItemList-card {
    grid-template-columns: repeat(2,300px);
  }
}

@media only screen and (min-width: 900px) {
  .ItemList-card {
    grid-template-columns: repeat(3,300px);
  }
}

@media only screen and (min-width: 1200px) {
  .ItemList-card {
    grid-template-columns: repeat(4,300px);
  }
}


.ItemDetail-card {
  margin: 55px;
  display: grid;  
  grid-template-columns: repeat(1,350px);
  justify-content: center;
}

@media only screen and (min-width: 850px) {
  .ItemDetail-card {
    grid-template-columns: repeat(2,350px);
    grid-column-gap: 50px;
  }
}

.ItemDetail-base {
  padding: 55px 75px;
  border: 1px solid rgb(78, 106, 16);
}

.ItemDetail-extraInformation {
  font-size: 20px;
  padding: 75px 35px 50px 35px;
}

.ItemDetail-info {
  margin: 10px; 
}

.ItemDetail-promocion {
  color:rgb(78, 106, 16);
  font-weight: bold;
  margin: 20px;
}

.ItemDetail-detalle {
  font-weight: bold;
  margin: 5px;
}

.ItemDetail-button {
  color: white;
  background: rgb(91, 137, 22);
  text-align: center;
  font-size: 20px;
  border-radius: 7px;
  width: 270px;
  height: 30px;
  border-color: grey;
}

.ItemDetailContainer-msgWait, .ItemListContainer-msgWait{
  line-height: 300px;
}

.ItemCount-botonSuma, .ItemCount-botonResta {
  color: white;
  background: black;
  border-radius: 50%;
  width: 40px;
  text-align: center;
  font-size: 30px;
}

.ItemCount-valorItem {
  border: none;
  text-align: center; 
  font-size: 20px;
  width: 50px;
}

.ItemCount-botonSuma:hover, .ItemCount-botonResta:hover {
  background-color: rgb(170, 202, 100);
  color: black;
}

.ItemCount-sumadorContenedor {
  border: 1px solid rgb(205, 202, 202); 
  width: fit-content;
  border-radius: 20px;
  display: flex;
  margin: 10px auto 20px auto;
}

.ItemCount-botonAgregarProducto, .Item-buttonVerMas, .Cart-botonLimpiarCarrito, .ItemCount-botonSeguirComprando, .Cart-botonVolverInicio {
  border: 2px solid rgb(142, 205, 15); 
  padding: 10px 15px;
  margin-bottom: 15px;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  background-color: white;
}

.Cart-butonBorrarProducto {
  border: 2px solid rgb(142, 205, 15);
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 15px;

}

.Item-buttonVerMas:hover {
  background-color: rgb(170, 202, 100);
  color: black;
}

.ItemCount-botonFinalizarCompra, .Cart-botonFinalizarCompra {
  border: 2px solid rgb(142, 205, 15); 
  background-color:  rgb(170, 202, 100);  
  padding: 10px 15px;
  margin-bottom: 15px;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  width: 190px;
}

.ItemCount-botonFinalizarCompra, .ItemCount-botonSeguirComprando  {
  margin-top: 10px;
  width: 190px;
}

.Cart-botonLimpiarCarrito, .Cart-botonFinalizarCompra {
  margin: 50px; 
  width: 190px;
}

.Cart-botonVolverInicio {
  margin-top: 60px;
  width: 190px;
}

.ItemCount-botonFinalizarCompra:hover, .ItemCount-botonAgregarProducto:hover, .ItemCount-botonSeguirComprando:hover, .Cart-botonVolverInicio:hover, .Cart-butonBorrarProducto:hover, .Cart-botonLimpiarCarrito:hover, .Cart-botonFinalizarCompra:hover {
  background-color: rgb(204, 225, 140); 
}

.Item-marca {
  margin: 5px 0px 15px 0px;
  color: rgb(91, 137, 22);
}

.Item-buttonVerMas {
  margin: 25px;
}

.ItemListContainer-saludo, .Cart-titulo {
  padding: 50px 50px 30px 50px;
}

.Cart-table {
  display: flex;
  justify-content: center;  
  margin-top: 50px;
  padding-top: 15px;
  padding-bottom:  15px;
  box-shadow: 15px 5px 10px #48529944;
}

.Cart-column {
  width: 200px;
  margin-top: 15px;
}

.Cart-total {
  margin-top: 50px;
  font-size: 20px;
}

.Cart-titulo {
  margin-top: 25px;
  font-size: 25px;
}