* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: black;
}

.App {
  text-align: center;
}

.App-header {
  background-color: rgb(170, 202, 100);
  width: 100%;
  height: 80px;  
}

.NavBar-nav {
  display: flex;
  justify-content: space-between;
}

.NavBar-marca {
  padding: 20px 50px 20px 50px;
  font-size: 25px;
  font-weight: 600;
}

.NavBar-div {
  display: flex;
  margin-right: 20px;
}

.NavBar-ul {
  float: right;
  margin-right: 20px; 
}

.NavBar-li {
  display: inline-block;
  margin: 0 15px;
  line-height: 80px;
  font-size: 18px;
  text-transform: uppercase;
}

.NavBar-a {
  font-size: 20px;
  color: rgb(78, 106, 16);
  padding: 7px 13px;
}

.NavBar-carrito {
  margin: 0 50px;
  padding-top: 15px;
}

.CartWidget-imgCarrito {
  height: 45px;
  width: 45px;
}

.Item-card {
  margin: 25px;
}

.ItemCount-botonSuma, .ItemCount-botonResta {
  color: white;
  background: black;
  border-radius: 50%;
  width: 40px;
  text-align: center;
  font-size: 30px;
}

.ItemCount-valorItem {
  border: none;
  text-align: center; 
  font-size: 20px;
  width: 50px;
}

.ItemCount-botonSuma:hover, .ItemCount-botonResta:hover {
  background-color: rgb(170, 202, 100);
  color: black;
}

.ItemCount-sumadorContenedor {
  border: 1px solid rgb(205, 202, 202); 
  width: fit-content;
  border-radius: 20px;
  display: flex;
  margin: 10px auto 20px auto;
}

.ItemCount-botonAgregarProducto {
  border: 2px solid rgb(142, 205, 15); 
  padding: 10px 15px;
  margin-bottom: 15px;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 20px;
}

.ItemCount-botonAgregarProducto:hover {
  background-color: rgb(170, 202, 100);
  color: black;
}

.ItemListContainer-saludo {
  padding: 50px;
}

